In [34]:
import pandas as pd
import ast

df = pd.read_csv('../datas/movies_metadata.csv')
df.head()

C:\Users\feldm\AppData\Local\Temp\ipykernel_5068\2670614021.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../datas/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [35]:
df.genres = df.genres.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

df.genres = df.genres.apply(lambda x: [genre['name'] for genre in x])

sorted_df = df[['genres', 'title', 'overview']]

In [36]:
sorted_df.dropna(inplace=True)
sorted_df.shape
sorted_df

C:\Users\feldm\AppData\Local\Temp\ipykernel_5068\510283266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df.dropna(inplace=True)

,genres,title,overview
0,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...
2,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...
3,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...,...
45461,"[Drama, Family]",Subdue,Rising and falling between a man and woman.
45462,[Drama],Century of Birthing,An artist struggles to finish his work while a...
45463,"[Action, Drama, Thriller]",Betrayal,"When one of her hits goes wrong, a professiona..."
45464,[],Satan Triumphant,"In a small town live two brothers, one a minis..."
45465,[],Queerama,50 years after decriminalisation of homosexual...

In [37]:
import re
import nltk
nltk.download('punkt')
from nltk import word_tokenize

def clean_text(text):
  text = text.lower()
  text = re.sub("[^a-zA-Z\'\-]", " ", text) 
  return " ".join(word_tokenize(text)[:256])

sorted_df["overview_cleaned"] = sorted_df['overview'].apply(clean_text)
sorted_df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\feldm\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
C:\Users\feldm\AppData\Local\Temp\ipykernel_5068\1275349255.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df["overview_cleaned"] = sorted_df['overview'].apply(clean_text)

,genres,title,overview,overview_cleaned
0,"[Animation, Comedy, Family]",Toy Story,"Led by Woody, Andy's toys live happily in his ...",led by woody andy 's toys live happily in his ...
1,"[Adventure, Fantasy, Family]",Jumanji,When siblings Judy and Peter discover an encha...,when siblings judy and peter discover an encha...
2,"[Romance, Comedy]",Grumpier Old Men,A family wedding reignites the ancient feud be...,a family wedding reignites the ancient feud be...
3,"[Comedy, Drama, Romance]",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",cheated on mistreated and stepped on the women...
4,[Comedy],Father of the Bride Part II,Just when George Banks has recovered from his ...,just when george banks has recovered from his ...

In [38]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genre = mlb.fit_transform(sorted_df['genres'])

In [39]:
X = sorted_df["overview_cleaned"].tolist()
y = genre

In [40]:

from sklearn.model_selection import train_test_split
# Split Train and Validation data
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Keep some data for inference (testing)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=0)

In [41]:
import tensorflow as tf
from transformers import DistilBertTokenizer
tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')

In [42]:
train_encodings = tokenizer(X_train, max_length=200, truncation=True, padding=True)
val_encodings = tokenizer(X_val, max_length=200, truncation=True, padding=True)
test_encodings = tokenizer(X_test, max_length=200, truncation=True, padding=True)

In [43]:
train_dataset = tf.data.Dataset.from_tensor_slices((
    dict(train_encodings),
    y_train
))

val_dataset = tf.data.Dataset.from_tensor_slices((
    dict(val_encodings),
    y_val
))

test_dataset = tf.data.Dataset.from_tensor_slices((
    dict(test_encodings),
    y_test
))

In [44]:
from transformers import TFDistilBertForSequenceClassification

model = TFDistilBertForSequenceClassification.from_pretrained('distilbert-base-uncased', num_labels=len(set(y)))

TypeError: unhashable type: 'numpy.ndarray'